{
  "openapi": "3.1.0",
  "info": {
    "title": "Petstore",
    "description": "The API enables users to view detailed information about a specific pet store and its available pets. The API can be used by pet owners, pet adoption agencies, and anyone looking for information about pets in a particular area.",
    "contact": {
      "name": "APIMatic",
      "url": "https://www.sdks.io/contact",
      "email": "support@sdks.io"
    },
    "version": "1.0.0"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://src8wr32cg.api.quickmocker.com",
      "variables": {}
    }
  ],
  "paths": {
    "/pets": {
      "post": {
        "tags": [
          "pets"
        ],
        "summary": "createPets",
        "description": "Create a pet and key characteristics",
        "operationId": "createPets",
        "parameters": [],
        "requestBody": {
          "description": "A single Pet object used to create a new Pet",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Pet"
                  },
                  {
                    "description": "A single Pet object used to create a new Pet",
                    "examples": [
                      {
                        "id": 12345,
                        "name": "Indiana",
                        "type": "dog"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "id": 12345,
                "name": "Indiana",
                "type": "dog"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Null response",
            "headers": {},
            "content": {}
          },
          "default": {
            "description": "unexpected error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "examples": [
                        {
                          "code": 101010,
                          "message": "Invalid pet type, only cat and dogs allowed"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "code": 101010,
                  "message": "Invalid pet type, only cat and dogs allowed"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "pets"
        ],
        "summary": "listPets",
        "description": "List all pets",
        "operationId": "listPets",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "How many items to return at one time (max 100)",
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 100.0,
              "type": "integer",
              "contentEncoding": "int32",
              "examples": [
                10
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paged array of pets",
            "headers": {
              "x-next": {
                "description": "A link to the next page of responses",
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "description": "A link to the next page of responses",
                      "examples": [
                        "https://api.petstore.com/v1/pets?count=2&offset=5"
                      ],
                      "contentMediaType": "text/plain"
                    },
                    "example": "https://api.petstore.com/v1/pets?count=2&offset=5"
                  }
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "maxItems": 100,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Pet"
                  },
                  "description": "",
                  "examples": [
                    [
                      {
                        "id": 12345,
                        "name": "Indiana",
                        "type": "dog"
                      },
                      {
                        "id": 56789,
                        "name": "Shadow",
                        "type": "cat"
                      }
                    ]
                  ],
                  "contentMediaType": "application/json"
                },
                "example": [
                  {
                    "id": 12345,
                    "name": "Indiana",
                    "type": "dog"
                  },
                  {
                    "id": 56789,
                    "name": "Shadow",
                    "type": "cat"
                  }
                ]
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "examples": [
                        {
                          "code": 101010,
                          "message": "Invalid pet type, only cat and dogs allowed"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "code": 101010,
                  "message": "Invalid pet type, only cat and dogs allowed"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/pets/{petId}": {
      "get": {
        "tags": [
          "pets"
        ],
        "summary": "showPetById",
        "description": "Info for a specific pet",
        "operationId": "showPetById",
        "parameters": [
          {
            "name": "petId",
            "in": "path",
            "description": "The id of the pet to retrieve",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "33918"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Pet"
                    },
                    {
                      "examples": [
                        {
                          "id": 12345,
                          "name": "Cody",
                          "type": "dog"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "id": 12345,
                  "name": "Cody",
                  "type": "dog"
                }
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "examples": [
                        {
                          "code": 101010,
                          "message": "Invalid pet type, only cat and dogs allowed"
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {
                  "code": 101010,
                  "message": "Invalid pet type, only cat and dogs allowed"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "Pet": {
        "title": "Pet",
        "required": [
          "id",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "a unique identifier for a Pet",
            "contentEncoding": "int64",
            "examples": [
              1234
            ]
          },
          "name": {
            "type": "string",
            "description": "the name lovingly given to the pet",
            "examples": [
              "Fido"
            ]
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Type"
              },
              {
                "description": "the type of pets allowed",
                "examples": [
                  "dog"
                ]
              }
            ]
          }
        }
      },
      "Error": {
        "title": "Error",
        "required": [
          "code",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "contentEncoding": "int32",
            "examples": [
              101010
            ]
          },
          "message": {
            "type": "string",
            "examples": [
              "Invalid pet type, only cat and dogs allowed"
            ]
          }
        }
      },
      "Type": {
        "title": "Type",
        "enum": [
          "dog",
          "cat"
        ],
        "type": "string",
        "description": "the type of pets allowed",
        "examples": [
          "dog"
        ]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "bearer token security",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "pets",
      "description": ""
    }
  ]
}